## Data Types
- Strings
- Integer
- Floats

In [ ]:
name = "boy"
num = 10
money = 12.2

Setting Data Types
 - strings - str
 - Integers - int
 - Floats - float

In [ ]:
first_name = str("boy")
print(first_name)

boy

In [ ]:
num = "100"
print(num, type(num))
converted_object = int(num) 
print("converted integer", converted_object, type(converted_object))

100 <class 'str'>
converted integer 100 <class 'int'>

In [ ]:
first_name = "Daniel"
last_name = 'Michael'

print(first_name, last_name)

Daniel Michael

Identifier and Variables

Properties
- Case sensitive
- combination of letters, numbers and underscore
- can never start with numbers
- Always give names that makes sense

Good variable names
- room_temperature
- my_list
- currentBill 

Bad variable names
- x
- name10
- 12the
- temp-h

In [ ]:
temperature = 100
print(temperature)

100

## Keywords

Reserved keywords in python not to be used in defining variables

In [ ]:

continue
break
None 
sum
max
min 
print
for
return 
if

Assignment statement

In [ ]:
temperature = 98

summ = 1 + 2 + 3 + 4 \
+5 + 6 + 7 \
+ 8 + 9

print(summ)

45

Comments

In [ ]:
#added_numbers = 2 + 3
subtract_num = 2 - 3
print(subtract_num)

# """This code adds multiple 
# number together
# with their pairs"""

-1

Input and Output

In [ ]:
#Output

print("this statement is an output to the screen")

num1 = 5
if num1 > 4:
  print("The number is definitely greater than 4")

person_age = 25
if person_age > 18:
  print("This school is for teenagers")

this statement is an output to the screen
The number is definitely greater than 4
This school is for teenagers

In [ ]:
#Input

number = input("Enter a number: ")
print(int(number) * 2)

Enter a number: 200
400

In [ ]:
# Operators
#Arithmetric operators

x = 17
y = 5

print("Adding x and y: ",x + y)
print("Subtracting x and y: ",x - y)
print("Multiplying x and y: ",x * y)
print(" Integer division of x and y: ",x / y)
print(" Remainer division of x and y: ",x % y)
print("Modular division of x and y: ",x // y)

#Comparison

print(x > y) #greater than
print(x < y) #less than
print(x == y)  #equality operator
print(x != y)  # not equal operator

Adding x and y:  22
Subtracting x and y:  12
Multiplying x and y:  85
 Integer division of x and y:  3.4
 Remainer division of x and y:  2
Modular division of x and y:  3
True
False
False
True

In [ ]:

#Logical operator

light_on = True
shower_on = False

if light_on:
  print("There is light")

print(light_on and shower_on) #and 
print(light_on or shower_on) #or
print(not shower_on)  #not
print(not light_on)  #not

There is light
False
True
True
False

In [ ]:
light_on = True
pumping_machine_on = True

if light_on and pumping_machine_on:
  print("The light must be from Nepa")

The light must be from Nepa

In [ ]:
# Assignment : Google truth table

Dictionary  is used to store data in key-value pair

Values of dictionary can be str, float, boolean, list and int

Two features of dictionary


1.   mutable (can be changed)
2.   duplicates are overwritten


We will consider the following


*   Accessing the items
*   Changing  Items

*   Adding new items
*   Removing items


*   Looping through items
*   Coping dictionary

In [2]:
#example of dictionary
mydict ={"Name": "Thomas", "Country": "Ghana", "Profession": "Lecturer", "Gender": "male", "height":5.9, "years": 7}

In [3]:
print(mydict)

{'Name': 'Thomas', 'Country': 'Ghana', 'Profession': 'Lecturer', 'Gender': 'male', 'height': 5.9, 'years': 7}

In [4]:
#accessing
mydict['Country']

'Ghana'

In [5]:
mydict['Profession']

'Lecturer'

In [6]:
mydict.keys()

dict_keys(['Name', 'Country', 'Profession', 'Gender', 'height', 'years'])

In [7]:
mydict.values()

dict_values(['Thomas', 'Ghana', 'Lecturer', 'male', 5.9, 7])

In [8]:
mydict.get('years')

7

In [9]:
#changing items

In [10]:
mydict['Country'] ='Nigeria'

In [11]:
mydict

{'Name': 'Thomas',
 'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 7}

In [19]:
mydict['Name']='Oluwadele'

In [20]:
mydict.update({'years': 4})

In [21]:
mydict

{'Name': 'Oluwadele',
 'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 4,
 'race': 'Black',
 'is_graduated': True}

In [22]:
#adding new items
mydict['race'] ='Black'

In [23]:
mydict

{'Name': 'Oluwadele',
 'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 4,
 'race': 'Black',
 'is_graduated': True}

In [24]:
mydict.update({'is_graduated': True})

In [25]:
mydict

{'Name': 'Oluwadele',
 'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 4,
 'race': 'Black',
 'is_graduated': True}

In [30]:
#removing items
mydict1 =mydict.copy()

In [31]:
mydict1

{'Name': 'Oluwadele',
 'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 4,
 'race': 'Black',
 'is_graduated': True}

In [22]:
mydict.pop('Name')

'Oluwadele'

In [23]:
mydict

{'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 4,
 'race': 'Black',
 'is_graduated': True}

In [24]:
mydict.popitem()

('is_graduated', True)

In [25]:
mydict

{'Country': 'Nigeria',
 'Profession': 'Lecturer',
 'Gender': 'male',
 'height': 5.9,
 'years': 4,
 'race': 'Black'}

In [26]:
del mydict['Country']

In [27]:
mydict3 =mydict.copy()

In [28]:
mydict.clear()

In [29]:
mydict

{}

In [35]:
import numpy as np

In [48]:
arr_zero = np.zeros((6), dtype=int)
arr_zero

array([0, 0, 0, 0, 0, 0])